<div class="custom-section d-flex justify-content-center p-5">
  <div class="row w-100 custom-row">
      <!-- First Block -->
      <div class="col-12 col-md-4 d-flex align-items-center mb-3" data-aos="fade-up">
          <img src="assets/section1.webp" alt="Section Image" class="img-fluid mr-3">
          <div class="text-content ms-3">
              <h4>Houston Food</h4>
              <h4>Department Approved</h4>
              <p>Certified for quality and safety, ensuring you enjoy every bite with confidence.</p>
          </div>
      </div>

      <!-- Second Block -->
      <div class="col-12 col-md-4 d-flex align-items-center mb-3" data-aos="fade-up" data-aos-delay="200">
          <img src="assets/tic.webp" alt="Section Image" class="img-fluid mr-3">
          <div class="text-content ms-3">
              <h4>Authentic Laotian</h4>
              <h4>Flavors</h4>
              <p>Experience bold, genuine tastes straight from Laos, crafted with passion.</p>
          </div>
      </div>

      <!-- Third Block -->
      <div class="col-12 col-md-4 d-flex align-items-center mb-3" data-aos="fade-up" data-aos-delay="400">
          <img src="assets/love.webp" alt="Section Image" class="img-fluid mr-3">
          <div class="text-content ms-3">
              <h4>Small Business,</h4>
              <h4>Big <span>Heart</span></h4>
              <p>Every purchase supports a passionate, community-driven business.</p>
          </div>
      </div>
  </div>
</div>
