.custom-section {
    width: 100%;
    background-color: #FFEFCC;
    height: auto;
    display: flex;
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    overflow: hidden; /* Prevent overflow */
  }
  .custom-row{
    margin-top: 30px;
    
  }
  h4 {
    font-family: Outfit, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: none;
    color: #333;
    opacity: 1;
  }
  
  p {
    font-family: Outfit, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    text-align: left;
    text-decoration: none;
    color: #555;
    opacity: 1;
  }
  
  img {
    width: 100%;
    max-width: 70px;
    height: auto;
    opacity: 1;
  }
  
  
  
  span {
    font-family: Caveat, cursive;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.5rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FF7D7D;
  }
  
  @media (max-width: 767px) {
    .custom-section {
      padding: 10px;
      height: auto !important;  /* Ensure height is maintained on mobile */
      flex-direction: column; /* Stack the items vertically */
      text-align: center; /* Center the content */
    }
  
    h5 {
      font-size: 1.25rem;
      margin-top: 10px;
    }
  
    p {
      font-size: 0.875rem;
    }
  
    img {
      max-width: 60px;
      margin-bottom: 10px; /* Add some space below images */
    }
  
    .row {
      flex-direction: column;
      align-items: center;
    }
  
  
  
    .col-12 .img-fluid {
      margin-bottom: 15px;
    }
  }
  
  @media (min-width: 768px) {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
   
  }
  