
<div class="gradient-section">
   
    <img src="assets/flowerbg2.webp" class="bg-flower left" alt="Floral Background">
    <img src="assets/flowerbg1.webp" class="bg-flower right" alt="Floral Background">
    <img src="assets/blurflower1.webp" class="bg-flower blur floating1" alt="Floral Background">
    <img src="assets/blurflower2.webp" class="bg-flower blur floating2" alt="Floral Background">
    <img src="assets/blurflower.webp" class="bg-flower blur floating3" alt="Floral Background">
    <div class="container-fluid p-0 pb-5">
        <div class="row custom-row pt-5">
            <!-- Left Column -->
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-start" data-aos="fade-right">
                <h1>Taste the Tradition.</h1>
                <h1>Crafted with <span>Love.</span></h1>
                <br>
                <p>Discover the bold, authentic flavors of Laotian cuisine with our handcrafted spices and molasses, made fresh from our home to yours.</p>
                <a class="shop-button" href="#" (click)="scrollToNextSection($event)">Explore Now!</a>
                <br>
                <br>
            </div>
            <!-- Right Column -->
            <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-left">
                <div class="image-container">
                    <img class="img-fluid right-image rotate-image" src="assets/mask.webp" alt="Spice Up Meals">
                    <img class="img-fluid right-image front-image" src="assets/hero.webp" alt="Spice Up Meals">
                </div>
            </div>
        </div>      
    </div>
</div>
