<div class="custom-section" >
  <div class="row justify-content-between custom-width-row">
    <div class="col-md-4" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
      <img src="assets/about1.webp" class="custom-image" alt="Authentic Flavors">
    </div>
    
    <div class="col-md-7" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
      <h1 class="custom-title">Authentic Flavors</h1>
      <p class="custom-description">
        Our products are inspired by traditional Lao recipes, crafted to deliver bold, vibrant flavors that transport you to the heart of Laos. Each blend reflects the depth and richness of Lao culinary heritage, perfect for enhancing your everyday meals.
      </p>
    </div>
  </div>
</div>
