<div class="custom-section" >
  <div class="row justify-content-between custom-width-row">
    
    <div class="col-md-7" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
      <h1 class="custom-title">Handcrafted Quality</h1>
      <p class="custom-description">
        We take pride in the care and precision that goes into every product. From sourcing premium ingredients to perfecting our blends, our handcrafted approach ensures you enjoy the most authentic and high-quality Lao flavors.
      </p>
    </div>

    <div class="col-md-4" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
      <img src="assets/about2.webp" class="custom-image" alt="Authentic Flavors">
    </div>

  </div>
</div>
