<div class="container-fluid p-0">
    <div class="row custom-row">
        <!-- Left Column (Text & Button) -->
        <div class="col-md-6 d-flex flex-column align-items-start justify-content-center" data-aos="fade-right">
            <h1>Ready to spice up your meals?</h1>
            <br>
            <a class="shop-button" href="#">Shop Now</a>
            <br><br>
        </div>

        <!-- Right Column (Image) -->
        <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-left">
            <img class="img-fluid right-image" src="assets/section11.webp" alt="Spice Up Meals">
        </div>
    </div>      
</div>
