<div class="gradient-section position-relative" >
    <!-- Background Flowers -->
    <img src="assets/flowerbg2.webp" class="bg-flower left" alt="Floral Background">
    <img src="assets/flowerbg1.webp" class="bg-flower right" alt="Floral Background">
    <img src="assets/blurflower1.webp" class="bg-flower blur floating1" alt="Floral Background">
    <img src="assets/blurflower2.webp" class="bg-flower blur floating2" alt="Floral Background">
    <img src="assets/blurflower.webp" class="bg-flower blur floating3" alt="Floral Background">

    <div class="container-fluid p-0 pb-5">
        <div class="row custom-row pt-5 align-items-center">
            <!-- Left Content -->
            <div class="col-md-6 d-flex flex-column align-items-start justify-content-start" data-aos="fade-right">
                <button class="btn custom-button">Home > Products</button>
                <h1>Authentic Lao Spices,</h1>
                <h1>Crafted for <span>Flavour</span></h1>
                <p>Discover the authentic flavors of Laos with our handcrafted spices. Carefully crafted from the finest ingredients, each product tells a story of tradition, culture, and quality.</p>
              
                <a class="shop-button mt-3" href="#"  (click)="scrollToNextSection($event)">Explore Now!</a>
            </div>

            <!-- Right Image -->
            <div class="col-md-6 d-flex align-items-center justify-content-center" data-aos="fade-left">
                <div class="image-container position-relative">
                    <img class="img-fluid right-image rotate-image" src="assets/mask.webp" alt="Spice Up Meals">
                    <img class="img-fluid right-image front-image" src="assets/statue.webp" alt="Spice Up Meals">
                </div>
            </div>
        </div>      
    </div>
</div>
