<div class="row custom-section" >
    <!-- Background images container -->
    <div class="background-images">
        <img src="assets/flowerbg1.webp" class="top-right-bg" alt="decorative background">
        <img src="assets/flowerbg2.webp" class="bottom-left-bg" alt="decorative background">
    </div>

    <!-- Content columns -->
    <div class="col-md-7 padded-col" data-aos="fade-right">
        <div class="content-wrapper">
            <button class="btn custom-button" (click)="scrollToNextSection($event)">
                Home > About Us
            </button>
            <h1>Nee Seunsom Opiela</h1>
            <p><b>"Lao in America"</b> began as the dream of <b>Nee Opiela</b>, a Laotian immigrant whose journey from banking professional to <b>Artisan Entrepreneur</b> is as vibrant as the spices she creates.</p>
            <p>With over <b>30 years of experience</b> in the financial industry and a passion for cooking, <b>Nee’s vision</b> blends tradition with modern craftsmanship.</p>
            <p>Each product reflects her dedication to bringing <b>Laotian heritage to your table</b>, crafted with care and authenticity. From her home kitchen to your table, <b>every spice and flavor carries a story worth sharing.</b></p>
            <a class="nav-link send-button mb-4"  routerLink="/contacts">
                Send Message
            </a>
        </div>
    </div>
    
    <div class="col-md-5 padded-col" data-aos="fade-left">
        <div class="image-container">
            <img src="assets/neee.webp" alt="Nee Seunsom Opiela" class="main-image" data-aos="zoom-in">
            <img src="assets/voice.webp" alt="Voice Icon" alt="Play Audio"  (click)="toggleAudio()"  class="voice-icon" data-aos="zoom-in" data-aos-delay="300">
        </div>
    </div>
</div>
