<div class="gradient" id="nextSection">
    <div class="row">
        <div class="col-12 col-md-3 d-flex align-items-stretch">
            <img class="img-fluid fade-in" src="assets/leaves.webp" alt="Leaves">
        </div>
        <div class="col-12 col-md d-flex align-items-center">
            <div>
                <h1 class="fade-in">Explore Our Signature Products</h1>
                <!-- <p class="fade-in">20 Products</p> -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-3 ">
            <h4 class="fade-in ">Crafted </h4>
            <h4 class="fade-in"> with <span>Care</span></h4>
            <img src="assets/mask1.webp" alt="Mask" class="mask-img fade-in">
        </div>
        
        <div class="col-12 col-md-3 d-flex align-items-stretch">
          
            <a [routerLink]="'/product2'"  class="no-style">
                <div class="image-fluid">
                    <img src="assets/section5.webp" alt="Roasted Rice with Spices" class="img-fluid1 fade-in">
                    <h2 class="fade-in">Roasted Rice with Spices</h2>
                    <h3 class="fade-in">Specialty</h3>
                </div>
            </a>
            
          
        </div>
        <div class="col-12 col-md-3 d-flex align-items-stretch">
            <a [routerLink]="'/product1'" class="no-style">
                <div class="image-fluid">
                    <img src="assets/section51.webp" alt="Sugar Cane Molasses" class="img-fluid1 fade-in">
                    <h2 class="fade-in">Sugar Cane Molasses</h2>
                    <h3 class="fade-in">Specialty</h3>
                </div>
            </a>
            
        </div>
        <div class="col-12 col-md-3 d-flex align-items-stretch">
            <div class="image-fluid1">
                <div class="follow-us fade-in">
                    <h5>Follow Us</h5>
                    <h5>now to get</h5>
                    <h4>10% OFF</h4>
                    <a class="shop-button" href="#" (click)="scrollToNextSection($event)">Learn More</a>
                </div>
            </div>
        </div>
    </div>
   

</div>