<div class="custom-section">
  <div class="row justify-content-between custom-width-row">
    
    <div class="col-md-7" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
      <h1 class="custom-title">Natural Ingredients</h1>
      <p class="custom-description">
        Health and authenticity are at the heart of everything we make. Our products are free from artificial additives, preservatives, and unnecessary fillers, offering you pure, natural flavors straight from the source.
      </p>
    </div>

    <div class="col-md-4" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
      <img src="assets/about4.webp" class="custom-image" alt="Authentic Flavors">
    </div>

  </div>
</div>
