<div class="custom-section">
  <div class="row justify-content-between custom-width-row">
    
    <div class="col-md-4" data-aos="fade-right" data-aos-anchor-placement="top-bottom">
      <img src="assets/about3.webp" class="custom-image" alt="Authentic Flavors">
    </div>
    
    <div class="col-md-7" data-aos="fade-left" data-aos-anchor-placement="top-bottom">
      <h1 class="custom-title">Versatile Uses</h1>
      <p class="custom-description">
        Lao in America products are designed to fit seamlessly into any kitchen. Whether you're adding depth to soups, seasoning meats, or simply enjoying a snack, our spices and ingredients bring a touch of Lao tradition to every dish.
      </p>
    </div>

  </div>
</div>
