<div class="custom-section">
    <div class="full-width-container">
      <div class="content-wrapper">
        <button class="btn custom-button">
          Home > Terms & Conditions
        </button>
        <h1>Refund Policy</h1>
        <p>At Lao in America, customer satisfaction is our top priority. If you are not completely satisfied with your purchase, we’re here to help. Please review our refund policy below for details on returns, refunds, and exchanges.</p>
        <a class="nav-link send-button" href="tel:281-968-9135">
          281-968-9135
        </a>
      </div>
    </div>
  </div>