<section class="contact-section" data-aos="fade-up"> <!-- Semantic section tag -->
  <div class="container-fluid"> <!-- Full-width container -->
    <div class="row g-0"> <!-- Remove gutters -->
      <div class="col-lg-6 d-flex align-items-center justify-content-center" data-aos="fade-right" data-aos-duration="1000">
        <img src="assets/contactus.webp" alt="Contact illustration" class="img-fluid contact-image"> <!-- Added alt text and responsive class -->
    </div>
    
      
      <div class="col-lg-6 content-column" data-aos="fade-left">
        <div class="content-wrapper">
          <button class="btn custom-button" data-aos="zoom-in">
            Home > Contact Us
          </button>
          
          <h1 class="heading-main" data-aos="fade-up">We'd love to<br>hear from you.</h1>
          
          <h5 class="subheading" data-aos="fade-up">Lao in America © All rights reserved</h5>
          
          <div class="text-content" data-aos="fade-up">
            <p class="lead-text">If you have any questions, please feel free to contact us. We aim to respond within 48 hours. Our customer service hours are 9:00 AM to 5:00 PM, Monday through Friday.</p>
            <p class="lead-text">For general inquiries or customer support, please use the contact form below or send an email to <strong>info@laoinamerica.com</strong>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
