::selection {
  background-color: #5AA339 !important;
  color: aliceblue;
}

html,
body {

  width: 100vw;
  margin: 0;
  padding: 0;

  overflow-x: hidden;
  /* Prevent horizontal scrolling */
}




.caveat {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}



.outfit {
  font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.copy-highlight {
  background-color: #e2f9e2;
  color: #5AA339;
  padding: 2px 5px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
}

.copy-highlight:hover {
  background-color: #d0f5d0;
}