<div class="container-fluid" >
    <div class="row custom-row text-center">
        <h2>
            Bringing the Story
            of <span class="america">Lao in America</span> to <span class="life">Life</span>
        </h2>
    </div>

    <div class="row custom-row">
        <!-- First Product -->
        <div class="col-md-6 text-center" data-aos="fade-right">
            <img class="img-fluid" src="assets/section2.webp" alt="Roasted Brown Rice with Spices">
            <h1>Roasted Brown Rice with Spices</h1>
            <h5>Specialty</h5>
            <p>Lao in America Roasted Brown Rice with Spices blends nutty rice and aromatic spices, celebrating
                authentic Lao flavors.</p>
            <a class="shop-button" href="tel:281-968-9135">Call: 281-968-9135</a>
        </div>

        <!-- Second Product -->
        <div class="col-md-6 text-center" data-aos="fade-left">
            <img class="img-fluid" src="assets/section22.webp" alt="Sugar Cane Molasses">
            <h1>Sugar Cane Molasses</h1>
            <h5>Specialty</h5>
            <p>Pure sugar cane molasses crafted with care, offering a naturally sweet and rich taste.</p>
            <a class="shop-button" href="tel:281-968-9135">Call: 281-968-9135</a>
        </div>
    </div>
</div>
